body {
font-family: "Montserrat-Regular", "Arial", sans-serif;
font-weight: 400;
}

.tel {
text-decoration: none;
color:black;
}

@font-face {
font-family: "Montserrat-Regular";
src: local("Montserrat-Regular"), url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");

}